<div class="container">
  <button type="button" class="btn btn-primary m-2" (click)="addUserSector()">Add sector</button>
  <button type="button" class="btn btn-secondary m-2" (click)="viewUserSector()">View your data</button>
</div>
