<div class="container">
  <p>
    Please enter your name and pick the Sectors you are currently involved in.
  </p>

  <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm.value)">
    <app-user-sector-info formControlName="userSectorInfo"></app-user-sector-info>
    <button type="submit" class="btn btn-primary" [disabled]="createForm.invalid">Save</button>
    <button type="button" class="btn btn-secondary float-right" (click)="goBack()">Back</button>
  </form>

</div>
