<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<toaster-container [toasterconfig]="config"></toaster-container>
<router-outlet></router-outlet>
