<ng-container [formGroup]="userSectorInfoForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name"
           [ngClass]="{'is-invalid': form.name.invalid && (form.name.dirty || form.name.touched)}">
    <div class="invalid-feedback" *ngIf="form.name.invalid && (form.name.dirty || form.name.touched)">
      <div *ngIf="form.name.errors.required">
        Name is required
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="sectors">Sectors</label>
    <select multiple class="form-control" id="sectors" formControlName="sectors"
            [ngClass]="{'is-invalid': form.sectors.invalid && (form.sectors.dirty || form.sectors.touched)}">
      <option *ngFor="let sector of sectors"
              [value]="sector.id">
        {{ sector.label }}
      </option>
    </select>
    <div class="invalid-feedback" *ngIf="form.sectors.invalid && (form.sectors.dirty || form.sectors.touched)">
      <div *ngIf="form.sectors.errors.required">
        Sectors is required
      </div>
      <div *ngIf="form.sectors.errors.maxlength">
        Max 5 sectors can be chosen
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="termsAgree" formControlName="termsAgree"
             [ngClass]="{'is-invalid': form.termsAgree.invalid && (form.termsAgree.dirty || form.termsAgree.touched)}">
      <label class="form-check-label" for="termsAgree">Agree to terms</label>
      <div class="invalid-feedback" *ngIf="form.termsAgree.invalid && (form.termsAgree.dirty || form.termsAgree.touched)">
        <div *ngIf="form.termsAgree.errors.pattern">
          You must agree before submitting
        </div>
      </div>
    </div>
  </div>
</ng-container>
